In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('details_d.csv')
print(df)

  first_name last_name                type      department  yoe  salary
0      aryan     singh  full_time_employee  administration    2   20000
1     sahana    hallur              intern       technical    3    5000
2       riya      shah  full_time_employee  administration    5   10000
3       yash    bhatia  part_time_employee       technical    7   10000
4     kaveri     patta  full_time_employee      management    6   20000

In [ ]:
df1=df.pivot_table(index='type',columns='department',values='salary')
print(df1)

department          administration  management  technical
type
full_time_employee         15000.0     20000.0        NaN
intern                         NaN         NaN     5000.0
part_time_employee             NaN         NaN    10000.0

In [ ]:
df1=df.pivot_table(index='type',columns='department',values='salary',aggfunc='mean')
print(df1)

department          administration  management  technical
type
full_time_employee         15000.0     20000.0        NaN
intern                         NaN         NaN     5000.0
part_time_employee             NaN         NaN    10000.0

In [ ]:
arr=(1,2,3,4,5,6,7,8,9,10)
df=print(arr)