In [17]:
import pandas as pd

In [18]:
student_details=[2,'Tom',1500.00,'Resarch']
print(student_details)

[2, 'Tom', 1500.0, 'Resarch']

In [19]:
df=pd.Series(student_details,index=['id','name','salary','dept'])
print(df)

id              2
name          Tom
salary     1500.0
dept      Resarch
dtype: object

In [20]:
print(df.loc['salary'])

1500.0

In [38]:
student=({'id':[1,2,3,4,5,6,7,8,9,10],
          'Name':['Radhika','Kushi','Rakshita','Shweta','Neha','Anji','Paddi','Shnehita','Nayan','Sonu'],
          'Dept':['cse','me','enc','ce','cse','me','enc','cse','ce','cse']})
df=pd.DataFrame(student)
print(df)

   id      Name Dept
0   1   Radhika  cse
1   2     Kushi   me
2   3  Rakshita  enc
3   4    Shweta   ce
4   5      Neha  cse
5   6      Anji   me
6   7     Paddi  enc
7   8  Shnehita  cse
8   9     Nayan   ce
9  10      Sonu  cse

In [25]:
Df=df['Name']
print(Df)

0     Radhika
1       Kushi
2    Rakshita
3      Shweta
4        Neha
5        Anji
6       Paddi
7    Shnehita
8       Nayan
9        Sonu
Name: Name, dtype: object

In [29]:
print(df.loc[:,'Dept'])

0    cse
1     me
2    enc
3     ce
4    cse
5     me
6    enc
7    cse
8     ce
9    cse
Name: Dept, dtype: object

In [36]:
print(df.iloc[3:6,0:2])

   id    Name
3   4  Shweta
4   5    Neha
5   6    Anji

In [40]:
print(df[df['id']>5])

   id      Name Dept
5   6      Anji   me
6   7     Paddi  enc
7   8  Shnehita  cse
8   9     Nayan   ce
9  10      Sonu  cse